html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #50c9c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #96deda,
    #50c9c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #96deda,
    #50c9c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: "Montserrat", sans-serif;
}

input[type="number"],
input[type="text"] {
  padding: 10px;
  font-size: 1rem;
  border: solid 1px lightgrey;
  border-radius: 5px;
  width: 150px;
  display: inline-block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.buttons button {
  margin: 0px 10px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.buttons button:hover {
  -webkit-animation: wobble-hor-bottom 0.2s both;
  animation: wobble-hor-bottom 0.2s both;
}

.buy-button,
.transfer-button {
  margin: 0px 10px;
  padding: 20px 40px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f37335,
    #fdc830
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f37335,
    #fdc830
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.buy-button:hover,
.transfer-button:hover {
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgrey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgrey;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: lightgrey;
}

@media only screen and (max-width: 1024px) {
}
